.app-container
  display: flex
  flex-direction: column
  height: 100vh

.app-content
  display: flex
  flex: 1
  overflow: hidden

.main-content
  flex: 1
  overflow-y: auto
  background-color: #121212
  width: 100%
