.sidenav{
    max-width: 250px;
    min-width: 250px;
    width: auto;
    transition-duration: 0.3s;
    
}
.itemList{
    border-top: .5px solid grey;
    border-bottom: .5px solid grey;
}
.itemList:hover{
    background-color: rgba(189, 177, 177, 0.651);
    font-size: 20px;
    transform: translateX(-3px);
}
a{
    text-decoration: none;
}
.itemLink{
    
    &:hover{
        
        color: rgb(73, 4, 73);
    }
}