.movies{
    
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:rgb(100, 32, 165);
    font-size: medium;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}
img{
    max-width: 100%;
    height: auto;
    width: 500px;
    
}
.movie{
    padding: 10px;
    
    width: 100%;
    &-info{
        
        padding: 10px;
        &-details{
            display: grid;
            
            justify-content: center;
            align-items: center;
        }
        
    }
    &-comment{
        padding: 10px;
    }
}
.comments{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.user-comments{
    justify-content: center;
    align-items: center;
    display: flex;
}
.comment-info{
    min-width: 300px;
    padding: 2px;
    border-radius: 5px;
    border-bottom: 1px solid black;
}