.example-spacer {
    flex: 1 1 auto
}
.search{
    &-form{
        
        max-width: 500px;
        margin: 0 auto;
    }
    &-input{
        margin-left: 10px;
        padding: 10px;
        width: 200px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
    }
    &-button{
        border: none;
        outline: none;
        background: #ffbf00;
        padding: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.377);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: whitesmoke;
        font-weight: 700;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover{
            color: #ffbf00;
            background-color: white;
            border: 1px solid #3f51b5;
        }
    }
    

}