<div class="header">
    <mat-toolbar color="primary">
        <div class="search-form">
            <div class="search-left-button"><a href="/" class="mat-icon"><mat-icon>theaters</mat-icon></a></div>
        </div>
        <span class="example-spacer"></span>
        <a href="/"><span>DCIT Movie App</span></a>
        <span class="example-spacer"></span>
        <div class="search-form">
            <div class="search-left-button"><a href="/" class="mat-icon"><mat-icon>theaters</mat-icon></a></div>
        </div>
    </mat-toolbar>
</div>